<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favourite Movies Reviewed</h1>
    <p>Welcome to your best movie ratings site, search a movie or find
      it in the list below</p>
      <%= link_to "Sign Up to Write a Review", new_user_registration_path, class: 'btn btn-primary btn-lng' %>
  </div>
<% end %>

<!-- creates a div for each movie poster -->
<div class="row">
  <% @movies.each do |movie|%>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>
